<!-- views/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Compiled bulma archive from the sass -->
<link rel='stylesheet' href='/stylesheets/style.css'>
