<nav class="navbar">
       <div class="navbar-brand">
           <a class="navbar-item title" href="/">
               <%= title %>
           </a>

           <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
               <span></span>
               <span></span>
               <span></span>
           </div>
       </div>

       <div  class="navbar-menu">
           <div class="navbar-start">

               <div class="navbar-item has-dropdown is-hoverable">
                   <a class="navbar-link " href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank">
                       Recent Projects
                   </a>
                   <div  class="navbar-dropdown " data-style="width: 18rem;">

                       <a class="navbar-item" href="https://github.com/josuer08/VSoRC" target="_blank">
                           <div class="navbar-content">
                               <p>
                                   <small class="has-text-primary">VSoRC</small>
                               </p>
                               <p>Virtual Software Defined Network o RaspberryPi/Linux Cluster</p>
                           </div>
                       </a>

                       <a class="navbar-item" href="https://github.com/josuer08/vsorcdistro" target="_blank">
                           <div class="navbar-content">
                               <p>
                                   <small class="has-text-primary">VSoRCdistro</small>
                               </p>
                               <p>Modified distribution for VSORC</p>
                           </div>
                       </a>

                       <hr class="navbar-divider">
                       <div class="navbar-item">
                           <div class="navbar-content">
                               <div class="level is-mobile">
                                   <div class="level-left">
                                       <div class="level-item">
                                           <strong>More Projects</strong>
                                       </div>
                                   </div>
                                   <div class="level-right">
                                       <div class="level-item">
                                           <a class="button is-rss is-small" href="http://www.github.com/josuer08" target="_blank">
                     <span class="icon is-small">
                       <i class="fa fa-github"></i>
                     </span>
                                               <span>Star me!</span>
                                           </a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="navbar-end">
               <a class="navbar-item" href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank">
                 <span class="icon is-large">
                   <i class="fa fa-github"></i>
                 </span>
               </a>
               <a class="navbar-item" href="https://www.instagram.com/josuer008/" target="_blank">
                 <span class="icon is-large">
                   <i class="fa fa-instagram"></i>
                 </span>
               </a>

                   <div class="navbar-item has-dropdown is-hoverable">
                       <a class="navbar-link">More links</a>
                       <div class="navbar-dropdown">
                           <a href="#" class="navbar-item">Contact</a>
                           <a href="#" class="navbar-item">Function1</a>
                       </div>
                   </div>
           </div>
       </div>
   </nav>
    <!-- <a href="/"><li>Home</li></a>
    <a style= "display: flex;" href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank"><li>GitHub web</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/" target="_blank"><li>GitHub</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/VSoRC" target="_blank"><li>GitHub VSoRC repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/vsorcdistro" target="_blank"><li>GitHub VSoRCdistro repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a> -->
