<div class="block">
  <nav class="nav">
    <div class="nav-left">
      <a href="" class="nav-item">
        <h1 class="title is-4"><%= title %></h1>
      </a>
    </div>

    <div class="nav-center">
      <a href="https://www.linkedin.com/in/josue-rodriguez-170103199/" class="nav-item">
        <span class="icon">
          <i class="fa fa-linkedin"></i>
        </span>
      </a>
      <a href="https://github.com/josuer08/" class="nav-item">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
    </div>

    <div class="nav-right nav-menu">
      <a href="/" class="nav-item">Home</a>
      <!-- <a href="#" class="nav-item">About Us</a> -->
      <a href="#" class="nav-item">Contact</a>
    </div>
  </nav>
</div>


    <!-- <a href="/"><li>Home</li></a>
    <a style= "display: flex;" href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank"><li>GitHub web</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/" target="_blank"><li>GitHub</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/VSoRC" target="_blank"><li>GitHub VSoRC repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/vsorcdistro" target="_blank"><li>GitHub VSoRCdistro repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a> -->
