<nav role="navigation" class="navbar">
<div id="menuToggle">
  <input type="checkbox" />

  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <a href="/"><li>Home</li></a>
    <a style= "display: flex;" href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank"><li>GitHub web</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/" target="_blank"><li>GitHub</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/VSoRC" target="_blank"><li>GitHub VSoRC repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/vsorcdistro" target="_blank"><li>GitHub VSoRCdistro repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
  </ul>
</div>
<!-- <form class="form-inline">
  <button class="btn" type="button" onclick="location.href = '/';">Home</button>
</form> -->
</nav>
