<!-- views/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title><%= title %></title>
<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%236ee786%22></rect><path fill=%22%23000000%22 d=%22M46.99 78.85L46.99 78.85Q42.27 78.85 38.42 76.97Q34.57 75.10 32.25 71.31Q29.92 67.52 29.69 61.82L29.69 61.82L29.77 61.58L37.15 61.58Q37.30 67.32 39.79 70.02Q42.27 72.71 46.88 72.71L46.88 72.71Q50.12 72.71 52.19 71.33Q54.26 69.94 55.25 67.50Q56.25 65.06 56.25 61.89L56.25 61.89L56.25 27.21L48.67 26.19L48.67 21.15L70.31 21.15L70.31 26.11L63.95 27.21L63.95 61.89Q63.95 66.97 62.01 70.80Q60.08 74.63 56.31 76.74Q52.54 78.85 46.99 78.85Z%22></path></svg>" />
<!-- Compiled bulma archive from the sass -->
<link rel='stylesheet' href='/stylesheets/style.css'>
