<nav class="navbar">
       <div class="navbar-brand">
           <a class="navbar-item" href="/">
               My nice app
           </a>
           <a class="navbar-item is-hidden-desktop" href="https://github.com/RuinSain" target="_blank">
     <span class="icon" style="color: #333;">
       <i class="fa fa-github"></i>
     </span>
           </a>

           <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
               <span></span>
               <span></span>
               <span></span>
           </div>
       </div>

       <div  class="navbar-menu">
           <div class="navbar-start">
               <a href="/archive" class="nav-item is-tab">All Articles</a>

               <div class="navbar-item has-dropdown is-hoverable">
                   <a class="navbar-link " href="http://bulma.io/blog/">
                       Blog
                   </a>
                   <div  class="navbar-dropdown " data-style="width: 18rem;">

                       <a class="navbar-item" href="/2017/03/10/new-field-element/">
                           <div class="navbar-content">
                               <p>
                                   <small class="has-text-info">10 Mar 2017</small>
                               </p>
                               <p>New field element (for better controls)</p>
                           </div>
                       </a>

                       <a class="navbar-item" href="/2016/04/11/metro-ui-css-grid-with-bulma-tiles/">
                           <div class="navbar-content">
                               <p>
                                   <small class="has-text-info">11 Apr 2016</small>
                               </p>
                               <p>Metro UI CSS grid with Bulma tiles</p>
                           </div>
                       </a>

                       <hr class="navbar-divider">
                       <div class="navbar-item">
                           <div class="navbar-content">
                               <div class="level is-mobile">
                                   <div class="level-left">
                                       <div class="level-item">
                                           <strong>Stay up to date!</strong>
                                       </div>
                                   </div>
                                   <div class="level-right">
                                       <div class="level-item">
                                           <a class="button is-rss is-small" href="http://bulma.io/atom.xml">
                     <span class="icon is-small">
                       <i class="fa fa-rss"></i>
                     </span>
                                               <span>Subscribe</span>
                                           </a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="navbar-end">
               <a class="navbar-item" href="/register">
               </a>
               <a class="navbar-item" href="/login">
                   Login
               </a>

                   <div class="navbar-item has-dropdown is-hoverable">
                       <a class="navbar-link">User</a>
                       <div class="navbar-dropdown">
                           <a href="#" class="navbar-item">My Profile</a>
                           <a href="#" class="navbar-item"

              ">Logout</a>
                           <form id="logout-form" action="" method="#" style="display: none;"></form>
                       </div>
                   </div>
           </div>
       </div>
   </nav>
    <!-- <a href="/"><li>Home</li></a>
    <a style= "display: flex;" href="https://www.linkedin.com/in/josue-rodriguez-170103199/" target="_blank"><li>GitHub web</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/" target="_blank"><li>GitHub</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/VSoRC" target="_blank"><li>GitHub VSoRC repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/vsorcdistro" target="_blank"><li>GitHub VSoRCdistro repo</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a> -->
