<!DOCTYPE html>
<html>



  <head>
    <%include ../partials/head%>
  </head>



  <body>


    <header>


      <%include ../partials/header%>


    </header>


    <!-- Hero -->
    <section class="is-green-striped no-margin no-pading">
      <div class="imagebanner">
        <div class="imageme">
          <img src="/images/josuecut.png" alt="">
        </div>
        <div class="container has-text-right go-up no-margin no-pading">
          <h1 class="title is-2 is-primary-invert"><%= title %></h1>
          <h2 class="subtitle is-6 is-primary-invert">Code lover, Network Engineer, Maker.</h2>
        </div>
      </div>
    </section>

    <section class="parallax">
      <h1 class="title is-1 has-text-centered has-text-primary"> Profile </h1>
      <div class="block">
        <div class="columns">
          <div class="column ">
            <p class="notification is-light has-text-black">First Column</p>
          </div>
          <div class="column ">
            <p class="notification is-light has-text-black">Second Column</p>
          </div>
          <div class="column ">
            <p class="notification is-light has-text-black">Third Column</p>
          </div>
        </div>
      </div>
    </section>



  </body>



  <footer>
    <%include ../partials/footer%>
  </footer>



</html>
