<!DOCTYPE html>
<html>



  <head>
    <%include ../partials/head%>
  </head>



  <body>


    <header>


      <%include ../partials/header%>


    </header>


    <!-- Hero -->
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="column nomargin">
          <img src="/images/josuecut.png" alt="">
        </div>
        <div class="container column">
          <h1 class="title is-2 is-primary-invert"><%= title %></h1>
          <h2 class="subtitle is-6 is-primary-invert">Code lover, Network Engineer, Maker.</h2>
        </div>
      </div>
    </section>



  </body>



  <footer>
    <%include ../partials/footer%>
  </footer>



</html>
