<!DOCTYPE html>
<html>



  <head>
    <%include ../partials/head%>
  </head>



  <body>


    <header>


      <%include ../partials/header%>


    </header>


    <!-- Hero -->
    <section class="is-green-striped no-margin no-pading">
      <div class="imagebanner">
        <div class="imageme">
          <img src="/images/josuecut.png" alt="">
        </div>
        <div class="container has-text-right go-up no-margin no-pading">
          <h1 class="title is-2 is-primary-invert"><%= title %></h1>
          <h2 class="subtitle is-6 is-primary-invert">Code lover, Network Engineer, Maker.</h2>
        </div>
      </div>
    </section>

    <section class="parallax">
      <h1 class="title is-1 has-text-centered has-text-primary"> Profile </h1>
      <div class="block">
        <div class="columns">
          <div class="column ">
            <article class="message">
              <div class="message-header">
                <p>About me</p>
              </div>
              <div class="message-body"></div>
            </article>
          </div>

          <div class="column ">
            <article class="message">
              <div class="message-header">
                <p>still dont know</p>
              </div>
              <div class="message-body"></div>
            </article>
          </div>
          
          <div class="column ">
            <article class="message">
              <div class="message-header">
                <p>Details</p>
              </div>
              <div class="message-body"></div>
            </article>
          </div>
        
        </div>
      </div>
    </section>

    <section class="no-margin no-pading" >
      <article class="message">
        <div class="message-header">
          <p>EDUCATION</p>
          <!--<button class="delete" aria-label="delete"></button>-->
        </div>
        <div class="message-body colums">
       

          <div class="column is-half">            
          <!--This is a card working as a column in a messa working as container-->
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://www.pucmm.edu.do/recursos/PublishingImages/Paginas/logos/Logo%20PUCMM%20%28Color%29.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Pontificia Universidad Catolica Madre y Maestra (PUCMM)</p>
                  <p class="subtitle is-6">Jan. 2015 - Jan. 2020</p>
                </div>
              </div>

              <div class="content">
                <em>Major in Computer Science, Minor in telecommunications (Telematics)</em><br>
                <ul>
                  <li>
                    Part of the IT section of the “Telematics Engineering Students Committee(CEIT)”.
                  </li>
                  <li>
                    Designed the new board for internal contests, proving to be almost twice as efficient in the first test in our Interuniversity Gaming competition and then the Networking competition.
                  
                  </li>
                  <li>
                    Speaker in the fourth social forum of the university in 2016. With record breaking attendance to that time.
                  </li>
                </ul>
                <br>
              </div>
            </div>
          </div>
          </div>
          
          <div class="column is-half">            
          <!--This is another card working insid-->
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://www.ipisa.edu.do/wp-content/uploads/2018/08/cropped-logo-1.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Instituto Politecnico Industrial de Santiago (IPISA)</p>
                  <p class="subtitle is-6">2010 - 2014</p>
                </div>
              </div>

              <div class="content">
                <em>Technical Bachelor/High School In Industrial Electronics</em><br>
                <ul>
                  <li>Cum Laude with Honors; Cumulative GPA: 3.5/4.0.</li>
                  <li>Best in class in every automation/programming class in the curriculum.</li>
                  <li>Music director in the theater club. Participated in multiple awarded performances.</li>
                </ul>
                <br>
              </div>
            </div>
          </div>
          </div>





        </div>
      </article>
    </section>


  </body>



  <footer>
    <%include ../partials/footer%>
  </footer>



</html>
