*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
  display: grid;
  grid-template-columns:
  [xl-start] 1fr 1.1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid *{grid-column: md;}
.grid-xl {grid-column: xl;                                  }
